.lista {
    margin-bottom: 5rem;
    
    &__alerta {
        display: none;
    }
    
    &__item {
        box-shadow: 0 0 5px rgba(#000, .25);
        padding: 2rem;
        @include atSmall {
            padding: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-img-wrapper {
            text-align: center;
            @include atSmall {
                text-align: left;
            }
        }

        &-copy {
            @include atSmall {
                width: 80%;
            }
        }

        &:last-child {
            margin-bottom: 2rem;
        }

        & + & {
            margin-top: 2rem;
        }
    }

    &__total {
        padding-bottom: 2rem;
        @include atSmall {
            padding-bottom: 0;
        }
    }

    &__btn {
        appearance: none;
        padding: 15px 25px;
        border: 0;
        background: #f33030;
        display: block;
        width: 100%;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(#000, .25);
        transition: all .25s;
        color: #fff;
        font-size: 2rem;
        margin-top: 6.667rem;
        @include atSmall {
            margin-top: 5rem;
            font-size: 1.5rem;
        }

        &:focus {
            outline: none;
        }

        &:active {
            box-shadow: none;
        }

        &:disabled {
            opacity: .25;
            cursor: not-allowed;
        }
    }
}