.header {
    background-color: #f2f2f2;
    padding: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(#000, .25);

    & + * {
        margin-top: 6.667rem;
    }

    &__menu {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        list-style: none;
        padding-left: 15px;
        margin: 0;

        &-item {
            a {
                transition: all .25s;
                display: block;
                padding: 15px;
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    background-color: #dbdbdb;
                }
            }
        }
    }
}